<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>HEAR A1 plateforme workshops</title>
		<link rel="stylesheet" href="assets/css/style.css">
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=yes' />
		<!-- <script src="http://localhost:8098"></script> -->
	</head>
	<body class="admin">
	<main id="app">
		<section v-if="!logged" id="login">
			<p>Identification </p>
			<input type="text" name="email" id="email" placeholder="email" autocomplete="on">
			<input type="password" name="password" id="password" placeholder="mot de passe" v-on:keyup.enter="login">
			<button id="submit" type="submit" v-on:click="login" v-on:keyup.enter="login">S'authentifier</button>
		</section>
		<section v-if="logged" id="selecteur">
			<div id="etudiant-info">
				<p>Bonjour <span id="etudiant-mail">{{email}}</span></p>
				<button id="logout" v-on:click="logout">Se déconnecter</button>
			</div>
			<div id="approches-liste">
				<ul>
					<approche-comp
							v-for="approche in approches"
							:id="approche.id"
							:titre="approche.titre"
							:date="approche.date"
							:validated='approche.validated'
							:enseignants="approche.enseignants"
							v-bind:ref="'approche-'+approche.id"
							v-bind:key="approche.id"></approche-comp>
				</ul>
			</div>
			<div id="editor" v-if="editor">
				<div class="menu">
					<button class="save" v-on:click="save()">Enregistrer</button>
					<button class="close" v-on:click="showeditor(false)">Fermer</button>
				</div>
				<h3>{{approches[approche_id].titre}} – {{approches[approche_id].enseignants[enseignant_id].nom}} <span class="cartouche">{{nbr_inscrits}}</span></h3>
				<div class="content">
					<textarea id="description" v-model="description">{{description}}</textarea>
					<!-- <p style="white-space: pre-line">{{description}}</p> -->
					<ul id="inscrits">
						<li v-for="inscrit in inscrits">{{inscrit}}</li>
					</ul>
				</div>
			</div>
			<div id="message">
				<div class="content"
					v-bind:style="{ opacity: opacity }"
				>
					{{message}}
				</div>
			</div>
		</section>
	</main>
	<!-- COMPONENTS -->
	<!-- https://vuejs.org/v2/guide/components.html -->
	<!-- https://vuejs.org/v2/guide/syntax.html -->
	<!-- https://coligo.io/vuejs-components/ -->
	<!--  v-on:click="incrementHeroCounter" -->
	<template id="approche-template">
		<li v-bind:id="id">
			<h2>{{titre}}</h2>
			<p class="date">{{date}}</p>
			<h3><span class="bulle" v-on:click="toggle = !toggle">{{toggle ? '↑' : '↓'}}</span> Approches :</h3>
			<ul class="approches">
				<li v-for="enseignant in enseignants"
					v-bind:key="enseignant.nom"
					v-bind:class="{ selected: enseignant.selected }"
					>
					<div><span class="bulle">{{enseignant.places}}</span> <span class="nom" v-on:click="showeditor(true,id,enseignant.id)">{{enseignant.nom}}</span></div>
					<!-- select_approche(id,enseignant.id) -->
					<!-- https://marked.js.org -->
					<transition name="slide">
						<div v-if="toggle" class="wrapper" v-html="marked(enseignant.resume)"></div>
					</transition>
				</li>
			</ul>
		</li>
	</template>
	<!--  SCRIPTS  -->
	<script src="/socket.io/socket.io.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
	<script src="assets/vendor/marked-1.20/marked.min.js"></script>
	<script src="assets/vendor/vue.min.js"></script>
	<script src="assets/js/admin.js"></script>
</body>
</html>